<div class="container margin-top">
<div class="row justify-content-center">
<form class="text-center" action="/signup" method="POST">
  <h1 class="h4 mb-3 font-weight-normal">Please sign up</h1>
  <label class="sr-only" for="username">Username: </label>
  <input class="form-control" type="text" id="username" name="username" placeholder="Username">

  <label class="sr-only" for="password">Password: </label>
  <input class="form-control" type="password" id="password" name="password" placeholder="Password">


  {{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

<br>
  <button type="submit" class="btn btn-lg btn-dark btn-block">Sign up</button>

</form>
</div>
</div>
