
<nav class="navbar navbar-light bg-light find-nav">

  <input class="form-control mr-sm-2" type="text" placeholder="Gameboard name" id="search-game-input">

  <button class="btn btn-outline-dark my-2 my-sm-0" id="search-game-button">Search</button>

</nav>

<div class="d-flex justify-content-center">
<div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>

<div class="container justify-content-around game-container">
  <div class="row" id="all-games">
  </div>
</div>

<div class="container unique-container" id="unique-container">
<div class="card mb-8" id="game-details" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4 text-center">
      <img src="" class="card-img" alt="">
      
      <form action="/mylist" method="POST" id="game-form">

        <input type="hidden" name="name" id="name" value="">
        <input type="hidden" name="image_url" id="image_url" value="">
        <input type="hidden" name="description" id="description" value="">
        <input type="hidden" name="min_players" id="min_players" value="">
        <input type="hidden" name="max_players" id="max_players" value="">
        <input type="hidden" name="min_playtime" id="min_playtime" value="">
        <input type="hidden" name="max_playtime" id="max_playtime" value="">
        <input type="hidden" name="min_age" id="min_age" value="">
        <input type="hidden" name="price" id="price" value="">
        <input type="hidden" name="rules_url" id="rules_url" value="">
        <input type="hidden" name="id" id="id" value="">
        <br>

        <button type="hidden" id="button-add"></button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5> 
        <p class="card-text"></p> {{!-- [0] Description --}}
        <p class="card-text"></p> {{!-- [1] Players--}}
        <p class="card-text"></p> {{!-- [2] Play time--}}
        <p class="card-text"></p> {{!-- [3] Min age--}}
        <p class="card-text"></p> {{!-- [4] Price from--}}
        <a href="" id="game-rules" target="_blank"><p class="card-text" ></p></a> {{!-- [5] Game rules--}}
        <p class="card-text"><small class="text-muted"></small></p>
        <p id="gameId"></p> {{!-- ID --}}
      </div>
    </div>
  </div>
</div>
</div>