<nav class="navbar navbar-light bg-light find-nav">
  <a class="navbar-brand">Find game</a>

  <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-game-input">

  <button class="btn btn-outline-success my-2 my-sm-0" id="search-game-button">Search</button>

</nav>

{{!-- <div class="container unique-game-container">
<div class="card mb-8" id="game-details" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id=""></h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</div> --}}

<div class="container justify-content-around game-container">
  <div class="row" id="all-games">
  </div>
</div>