@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  font: 14px 'Roboto', sans-serif;
}

.game-container h3{
  text-align: center;
}

.find-nav{
  // margin: 40px;
  margin-top: 50px;
}

a {
  color: #00B7FF;
}

img {
  width: 200px
}

.row > .col {
  margin: 10px;
  padding: 10px;
  border: 1px solid grayscale($color: #666666);
}

.row > .col img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-list{
  width: 100px;
}

.margin-top {
  margin-top: 80px;
}

.margin-left {
  margin-left: 40px;
}



